<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partial/head") %>
    <link rel="stylesheet" href="/css/dash.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/dash.js" defer="defer"></script>
</head>

<body>
        <div class="page">
          <%- include ("partial/header") %>
          <div class="content">
            <nav class="sub">
              <ul id="grpList">
              </ul>
              <select id="grpDrop">
              </select>
            </nav>
            <ul class="items">
            </ul>
          </div>
          <%- include ("partial/footer") %>
        </div>
</body>

</html>