<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partial/head") %>
  </head>
  <body>
    <div class="page">
      <%- include ("partial/header") %>
      <div class="content">Hello, nothing here at this moment click Dashboard from menu</div>
      <%- include ("partial/footer") %>
    </div>
  </body>
</html>
