<header class="header">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <!-- swap en and ml text to display alternate lang, ie: show English if Malyalam selected -->
      <li><a id="langBtn" class="lang" data-en="മലയാളം" data-ml="English" href="#" onClick="ChangeLang()"></a></li>
  </ul>
</header>